label {
  margin-top: 1rem;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.base-layout {
  /*flex*/
}

.header {

}

.footer {

}

.home {
  padding: 20px;
}

.nav-link {
  color: white;
}

.login {
  padding: 20px;
}

.state-app {

}

.search-bar {
  border: 1px solid black;
  height: 100px;
  width: 100%;
  padding: 15px;
}

.register-business {
  /*container*/
}

.company-type {
  width: 60%;
}

.business-list {

}

.business-list-header {

}

.business-list-item {
  /*margin:*/
  /*padding:*/

}

.business-portal {

}

.business-profile {

}

.address-form {

}

.button-size {
  height: 50px;
  margin: 10px;
}

.spacer {
  height: 20px;
}
